plugin/packer_compiled.lua
nvim/plugin/packer_compiled.lua

autostart
bleachbit
Code
dconf
enchant
eog
epiphany
evolution
gedit
gnome-control-center
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
.gsd-keyboard.settings-ported
gtk-2.0
gtk-3.0
gtk-4.0
htop
i3
ibus
lazygit/state.yml
menus
mimeapps.list
mono.addins
monitors.xml
monitors.xml~
mpv
nautilus
neofetch
org.gnome.Epiphany.WebApp-notion-486af5da11b1d7b984dd0eec94e15310e479449f
pavucontrol.ini
Pinta
Postman
procps
pulse
qBittorrent
spotify
totem
update-notifier
user-dirs.dirs
user-dirs.locale
yelp
